@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", serif;
  background-color: #09111f;
  color: white;
}

@layer base {
  .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}

@layer utilities {
  .main-btn {
    @apply rounded-md font-semibold bg-blue-400;

  }

  .flex-row-center {
    @apply flex items-center gap-2 justify-center
  }

  .toolbar-icons {
    @apply text-[#9b9b9b] text-[20px];
  }

  .comment-thread-section-btn {
    @apply bg-dark-400 rounded-md w-[36px] h-[34px] flex items-center justify-center box-shadow cursor-pointer
  }

  .blurry-container {
    @apply fixed inset-0 bg-black/10 backdrop-blur-sm z-10;
  }

  .centered-blurry-container {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  shadow-xl z-20 w-[90%] 
  }
}
